html
{
margin: 0;
background-color: #f9fcfe
font-family: 'Roboto', sans-serif;
}


head {
    font-family: 'lato';
    text-align: center;
}


header {
    background-image: url('C:/Users/Marcin/Portfolio/moje-portfolio/img/header-background.jpg');
    background-position: center top;
    background-size:cover;
    height:500px;
}


nav li {
  font-family: lato;
  display:inline-block;
}


a {
    padding: 8px;
}

li a {
    color: limegreen;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    padding:1%;
    background-color: white;
    text-align:right;
}

div {
    color: white;
    font-family: lato;
    position: absolute;
    top: 30%;
    text-align: center;
    width: 100%;
        
}

div h1 {
    font-size: 300%;
}

div h2 {
    font-size: 200%;
}

.tresc {
    font-family: lato;
    padding-left: 510px;

}

#naglowek1 {
    font-family: lato;
    text-align: center;
}

figure img {
    max-width: 250px;
    float: left;
    padding: 30px;
}

